span.brand__accent {
  color: rgba(var(--sunset-orange-rgb), 1);
}

span.brand__secondary {
  color: rgba(var(--sandrift-rgb), 1);
}

.navbar {
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 0.938rem 0;
  display: flex;
  z-index: 1000;
  position: fixed;
  background: rgba(var(--ebony-rgb), 1);
  /* TODO: Un-comment white background for testing. */
  /* background: white; */
}

.navbarContainer {
  /* TODO: This padding is large screens, change with responsive design. */
  padding: 0 3.125rem;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  max-width: 58.75rem;
}

.navbarContainerWrapper {
  font-size: 1.125rem;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brandLink {
  color: rgba(var(--wild-sand-rgb), 1);
  float: left;
  position: relative;
}

.menu {
  text-align: right;
  float: right;
  position: relative;
  display: block;
}

.menuWrapper {
  align-items: center;
  display: flex;
}

.menuLink {
  font-size: 1.125rem;
  color: rgba(var(--wild-sand-rgb), 1);
  max-width: 58.75rem;
  padding: 0.625rem 1.25rem;
  line-height: 1rem;
  vertical-align: top;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

.ctaContainer {
  font-size: 1.125rem;
  column-gap: 0.625rem;
  align-items: center;
  margin-left: 1.25rem;
  display: flex;
}

.ctaLink {
  font-size: 1.125rem;
  border: 1px solid rgba(var(--sunset-orange-rgb), 1);
  background-color: rgba(var(--sunset-orange-rgb), 1);
  color: rgba(var(--wild-sand-rgb), 1);
  text-align: center;
  letter-spacing: 0.031rem;
  text-transform: none;
  border-radius: var(--border-radius);
  padding: 0.75rem 1.5rem;
  transition: all 0.3s;
  display: inline-block;
  line-height: inherit;
  cursor: pointer;
}

.ctaLink:hover {
  border: 1px solid rgba(var(--sunset-orange-rgb), 1);
  background-color: transparent;
  color: rgba(var(--sunset-orange-rgb), 1);
}
