@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* HEX #f5f5f5 */
  --wild-sand-rgb: 245, 245, 245;
  /* HEX #0f1626 */
  --ebony-rgb: 15, 22, 38;
  /* HEX #ff533d */
  --sunset-orange-rgb: 255, 83, 61;
  /* HEX #ab987a */
  --sandrift-rgb: 171, 152, 122;
}

body {
  color: rgb(var(--wild-sand-rgb));
  background-color: rgb(var(--ebony-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
